<header>
  <nav class="navbar">
    <a routerLink="/" class="navbar-logo">
      <img src="assets/images/movie.png" alt="logo" />
    </a>
    <ul class="navbar-links">
      <li>
        <a routerLink="/"> <i class="fas fa-home"></i> Anasayfa</a>
      </li>
      <li>
        <a routerLink="/film"> <i class="fas fa-video"></i> Filmler</a>
      </li>
      <li>
        <a routerLink="/tv"> <i class="fas fa-film"></i> TV dizileri</a>
      </li>
      <li>
        <a routerLink="/category">
          <i class="fas fa-suitcase"></i> Kategoriler</a
        >
      </li>
    </ul>
  </nav>
</header>
